.App {
  text-align: center;
}

body, html {
  background-image: url(https://cdn2.softswiss.net/avalon78/b/booming/GladiatorArena.jpg);
 background-color: tran;
 height: 100%;
 width: 100%;
  
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }